{:deps {org.clojure/clojure {:mvn/version "1.12.2"}}

 :aliases
 {;; === Project Aliases ===
  ;; Each project can be included individually
  :exclusive-initializer
  {:extra-deps {local/exclusive-initializer {:local/root "exclusive-initializer"}}}

  :db
  {:extra-deps {local/db {:local/root "db"}}}

  :polix
  {:extra-deps {local/polix {:local/root "polix"}}}

  :authn
  {:extra-deps {local/authn {:local/root "authn"}}}

  :oidc
  {:extra-deps {local/oidc {:local/root "oidc"}}}

  :oidc-provider
  {:extra-deps {local/oidc-provider {:local/root "oidc-provider"}}}

  :graphql-server
  {:extra-deps {local/graphql-server {:local/root "graphql-server"}}}

  :oidc-github
  {:extra-deps {local/oidc-github {:local/root "oidc-github"}}}

  :oidc-google
  {:extra-deps {local/oidc-google {:local/root "oidc-google"}}}

  :bashketball-editor-api
  {:extra-deps {local/bashketball-editor-api {:local/root "bashketball-editor-api"}}}

  :cljs-tlr
  {:extra-deps {local/cljs-tlr {:local/root "cljs-tlr"}}}

  :bashketball-editor-ui
  {:extra-deps {local/bashketball-editor-ui {:local/root "bashketball-editor-ui"}}}

  :bashketball-game
  {:extra-deps {local/bashketball-game {:local/root "bashketball-game"}}}

  ;; === Test Aliases ===
  ;; Test dependencies and paths for each project
  :exclusive-initializer-test
  {:extra-paths ["exclusive-initializer/test"]
   :jvm-opts    ["-Duser.timezone=UTC"]
   :exec-fn     cognitect.test-runner.api/test
   :exec-args   {:dirs ["exclusive-initializer/test"]}
   :extra-deps  {local/exclusive-initializer {:local/root "exclusive-initializer"}
                 io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}

  :db-test
  {:extra-paths ["db/test"]
   :jvm-opts    ["-Duser.timezone=UTC"]
   :exec-fn     cognitect.test-runner.api/test
   :exec-args   {:dirs ["db/test"]}
   :extra-deps  {local/db {:local/root "db"}
                 io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}

  :polix-test
  {:extra-paths ["polix/test"]
   :jvm-opts    ["-Duser.timezone=UTC"]
   :exec-fn     cognitect.test-runner.api/test
   :exec-args   {:dirs ["polix/test"]}
   :extra-deps  {local/polix {:local/root "polix"}
                 io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}

  :authn-test
  {:extra-paths ["authn/test"]
   :jvm-opts    ["-Duser.timezone=UTC"]
   :exec-fn     cognitect.test-runner.api/test
   :exec-args   {:dirs ["authn/test"]}
   :extra-deps  {local/authn {:local/root "authn"}
                 io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}

  :oidc-test
  {:extra-paths ["oidc/test"]
   :jvm-opts    ["-Duser.timezone=UTC"]
   :exec-fn     cognitect.test-runner.api/test
   :exec-args   {:dirs ["oidc/test"]}
   :extra-deps  {local/oidc {:local/root "oidc"}
                 io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}

  :oidc-provider-test
  {:extra-paths ["oidc-provider/test"]
   :jvm-opts    ["-Duser.timezone=UTC"]
   :exec-fn     cognitect.test-runner.api/test
   :exec-args   {:dirs ["oidc-provider/test"]}
   :extra-deps  {local/oidc-provider {:local/root "oidc-provider"}
                 io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}

  :graphql-server-test
  {:extra-paths ["graphql-server/test"]
   :jvm-opts    ["-Duser.timezone=UTC"]
   :exec-fn     cognitect.test-runner.api/test
   :exec-args   {:dirs ["graphql-server/test"]}
   :extra-deps  {local/graphql-server {:local/root "graphql-server"}
                 io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}

  :oidc-github-test
  {:extra-paths ["oidc-github/test"]
   :jvm-opts    ["-Duser.timezone=UTC"]
   :exec-fn     cognitect.test-runner.api/test
   :exec-args   {:dirs ["oidc-github/test"]}
   :extra-deps  {local/oidc-github {:local/root "oidc-github"}
                 io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}

  :oidc-google-test
  {:extra-paths ["oidc-google/test"]
   :jvm-opts    ["-Duser.timezone=UTC"]
   :exec-fn     cognitect.test-runner.api/test
   :exec-args   {:dirs ["oidc-google/test"]}
   :extra-deps  {local/oidc-google {:local/root "oidc-google"}
                 io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}

  :bashketball-editor-api-test
  {:extra-paths ["bashketball-editor-api/test"]
   :jvm-opts    ["-Duser.timezone=UTC"]
   :exec-fn     cognitect.test-runner.api/test
   :exec-args   {:dirs ["bashketball-editor-api/test"]}
   :extra-deps  {local/bashketball-editor-api {:local/root "bashketball-editor-api"}
                 io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}

  :bashketball-game-test
  {:extra-paths ["bashketball-game/test"]
   :jvm-opts    ["-Duser.timezone=UTC"]
   :exec-fn     cognitect.test-runner.api/test
   :exec-args   {:dirs ["bashketball-game/test"]}
   :extra-deps  {local/bashketball-game {:local/root "bashketball-game"}
                 io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}

  ;; === Aggregated Aliases ===
  ;; Work with all projects at once
  :dev-all
  {:extra-deps {local/exclusive-initializer    {:local/root "exclusive-initializer"}
                local/db                       {:local/root "db"}
                local/polix                    {:local/root "polix"}
                local/authn                    {:local/root "authn"}
                local/oidc                     {:local/root "oidc"}
                local/oidc-provider            {:local/root "oidc-provider"}
                local/oidc-github              {:local/root "oidc-github"}
                local/oidc-google              {:local/root "oidc-google"}
                local/graphql-server           {:local/root "graphql-server"}
                local/bashketball-editor-api   {:local/root "bashketball-editor-api"}
                local/bashketball-game         {:local/root "bashketball-game"}}}

  :test-all
  {:extra-paths ["exclusive-initializer/test" "db/test" "polix/test" "authn/test" "oidc/test" "oidc-provider/test" "oidc-github/test" "oidc-google/test" "graphql-server/test" "bashketball-editor-api/test" "bashketball-game/test"]
   :jvm-opts    ["-Duser.timezone=UTC"]
   :exec-fn     cognitect.test-runner.api/test
   :exec-args   {:dirs ["exclusive-initializer/test" "db/test" "polix/test" "authn/test" "oidc/test" "oidc-provider/test" "oidc-github/test" "oidc-google/test" "graphql-server/test" "bashketball-editor-api/test" "bashketball-game/test"]}
   :extra-deps  {local/exclusive-initializer    {:local/root "exclusive-initializer"}
                 local/db                       {:local/root "db"}
                 local/polix                    {:local/root "polix"}
                 local/authn                    {:local/root "authn"}
                 local/oidc                     {:local/root "oidc"}
                 local/oidc-provider            {:local/root "oidc-provider"}
                 local/oidc-github              {:local/root "oidc-github"}
                 local/oidc-google              {:local/root "oidc-google"}
                 local/graphql-server           {:local/root "graphql-server"}
                 local/bashketball-editor-api   {:local/root "bashketball-editor-api"}
                 local/bashketball-game         {:local/root "bashketball-game"}
                 io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}

  ;; === Development Tools ===
  :repl
  {:extra-deps {nrepl/nrepl       {:mvn/version "1.3.0"}
                cider/cider-nrepl {:mvn/version "0.50.2"}}
   :main-opts  ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}

  :test
  {:extra-paths ["test"]
   :jvm-opts    ["-Duser.timezone=UTC"]
   :main-opts   ["-m" "cognitect.test-runner"]
   :exec-fn     cognitect.test-runner.api/test
   :extra-deps  {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}

  :build
  {:extra-deps  {io.github.clojure/tools.build {:mvn/version "0.10.5"}}
   :extra-paths ["build"]
   :ns-default  build}

  :new-project
  {:extra-paths ["build"]
   :ns-default  new-project}

  :lint
  {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2025.07.28"}}
   :main-opts  ["-m" "clj-kondo.main"]}

  :outdated
  {:extra-deps {com.github.liquidz/antq {:mvn/version "2.11.1276"}}
   :main-opts  ["-m" "antq.core"]}

  :format
  {:extra-deps {dev.weavejester/cljfmt {:mvn/version "0.15.3"}}
   :ns-default cljfmt.tool
   :exec-fn    cljfmt.tool/fix}

  :docs
  {:extra-deps {codox/codox {:mvn/version "0.10.8"}}
   :main-opts  ["-m" "codox.main"]}

  :dev
  {:extra-paths ["dev"]
   :extra-deps  {org.clojure/tools.namespace {:mvn/version "1.5.0"}}}}}
