{:lint-as {uix.core/defui clj-kondo.lint-as/def-catch-all
            graphql-server.core/defresolver clj-kondo.lint-as/def-catch-all
            graphql-server.core/defstreamer clj-kondo.lint-as/def-catch-all
            graphql-server.core/def-resolver-map clj-kondo.lint-as/def-catch-all
            db.core/with-connection clj-kondo.lint-as/def-catch-all
            db.core/with-transaction clj-kondo.lint-as/def-catch-all
            polix.core/defpolicy clj-kondo.lint-as/def-catch-all
            repository.test/with-repository clojure.core/let
            clj-jobrunr.job/defjob clojure.core/defn}
 :linters {:unresolved-symbol {:exclude [resolvers
                                          Query-gameState
                                          Query-looseBall]}
           :unresolved-var {:exclude [bashketball-editor-api.graphql.resolvers.query/resolvers
                                       bashketball-editor-api.graphql.resolvers.mutation/resolvers
                                       bashketball-editor-api.graphql.resolvers.user/resolvers
                                       graphql-server.ring-test/resolvers
                                       graphql-server.ring-test/Query-gameState
                                       graphql-server.ring-test/Query-looseBall
                                       graphql-server.test-resolvers/resolvers
                                       graphql-server.test-resolvers/Query-greet
                                       graphql-server.test-resolvers-with-middleware/resolvers
                                       graphql-server.test-streamers/resolvers
                                       graphql-server.test-streamers/Subscription-messageAdded
                                       graphql-server.test-streamers/Subscription-gameUpdated]}}
 :config-in-ns {user {:linters {:redefined-var {:level :off}}}
                 clj-jobrunr.bridge-test {:linters {:inline-def {:level :off}}}
                 clj-jobrunr.core-test {:linters {:inline-def {:level :off}}}
                 clj-jobrunr.integration-test {:linters {:inline-def {:level :off}}}
                 clj-jobrunr.request-test {:linters {:inline-def {:level :off}}}
                 clj-jobrunr.job-test {:linters {:unused-binding {:level :off}}}}}
