{:paths ["src"]

 :deps
 {org.clojure/clojure    {:mvn/version "1.12.2"}
  metosin/malli          {:mvn/version "0.19.1"}
  local/authn            {:local/root "../authn"}
  buddy/buddy-sign       {:mvn/version "3.6.1-359"}
  buddy/buddy-core       {:mvn/version "1.12.0-430"}
  ring/ring-core         {:mvn/version "1.13.0"}
  cheshire/cheshire      {:mvn/version "5.13.0"}
  com.nimbusds/nimbus-jose-jwt {:mvn/version "9.37.3"}
  com.nimbusds/oauth2-oidc-sdk {:mvn/version "11.9.1"}}

 :aliases
 {:test
  {:extra-paths ["test"]
   :jvm-opts    ["-Duser.timezone=UTC"]
   :exec-fn     cognitect.test-runner.api/test
   :exec-args   {:dirs ["test"]}
   :extra-deps  {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}}}
