{:paths ["src"]
 :deps
 {org.clojure/clojure    {:mvn/version "1.12.2"}
  metosin/malli          {:mvn/version "0.19.1"}
  ring/ring-core         {:mvn/version "1.13.0"}
  cheshire/cheshire      {:mvn/version "5.13.0"}}}
