{:paths ["src"]
 :deps
 {org.clojure/clojure    {:mvn/version "1.12.4"}
  metosin/malli          {:mvn/version "0.20.0"}
  ring/ring-core         {:mvn/version "1.15.3"}
  cheshire/cheshire      {:mvn/version "6.1.0"}}}
