{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.4"}
        org.clojure/clojurescript {:mvn/version "1.12.134"}
        thheller/shadow-cljs {:mvn/version "3.2.1"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}

        ;; Shared schemas
        local/bashketball-schemas {:local/root "../bashketball-schemas"}

        ;; Shared UI components
        local/bashketball-ui {:local/root "../bashketball-ui"}

        ;; UIx (React 19 wrapper)
        com.pitch/uix.core {:mvn/version "1.4.4"}
        com.pitch/uix.dom {:mvn/version "1.4.4"}

        ;; Malli (schema validation - works in CLJS)
        metosin/malli {:mvn/version "0.20.0"}

        ;; devtools
        binaryage/devtools {:mvn/version "1.0.7"}}

 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {local/cljs-tlr {:local/root "../cljs-tlr"}}}}}
