{:paths ["src" "resources" "content"]
 :deps
 {org.clojure/clojure {:mvn/version "1.12.4"}
  org.clojure/clojurescript {:mvn/version "1.12.134"}
  thheller/shadow-cljs {:mvn/version "3.3.4"}
  com.pitch/uix.core {:mvn/version "1.4.4"}
  com.pitch/uix.dom {:mvn/version "1.4.4"}
  metosin/malli {:mvn/version "0.20.0"}
  camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
  binaryage/devtools {:mvn/version "1.0.7"}

  ;; Markdown processing (compile-time)
  com.vladsch.flexmark/flexmark-all {:mvn/version "0.64.8"}
  clj-commons/clj-yaml {:mvn/version "1.0.29"}

  ;; Shared UI components library
  local/bashketball-ui {:local/root "../bashketball-ui"}

  ;; Shared schemas (CLJC)
  local/bashketball-schemas {:local/root "../bashketball-schemas"}

  ;; Game logic (CLJC - shared with API)
  local/bashketball-game {:local/root "../bashketball-game"}}

 :aliases
 {:test {:extra-paths ["test" "test/fixtures"]
         :extra-deps {local/cljs-tlr {:local/root "../cljs-tlr"}}}}}
